$text-white: rgb(255, 255, 255);
$text-white-hover: rgba(255, 255, 255, 0.486);
$text-blue: #229be1;
$form-color: #bcbcbc;
$border-color: #ebebeb;
$gradiant-right-color: linear-gradient(to right, #7d48c4 0%, #229be1 100%);
$gradiant-left-color: linear-gradient(to left, #7d48c4 0%, #229be1 100%);
$bg-black : #1f1f1f;
$bg-link: #232323;
$text-light-black: #999;