
@media(max-width: 575px){
    // header start
    .header-section{
        background-attachment: fixed;
        nav{
            .container-fluid{
                .navbar-brand {
                    width: 50%;
                }
            }
        }
        .top-gap {
            margin-top: 50px;
            padding-bottom: 350px;
            .container{
                .row{
                    .col-12.col-lg-6 {
                        .sell {
                            text-align: center;
                            h1 {
                                font-size: 36px;
                                text-align: center;
                            }
                            p {
                                margin-top: 15px;
                                text-align: center;
                                line-height: 34px;
                            }
                        }
                    }
                }
            }
        }
    }
    // header end
    // agent details start
    .agent-details{
        .agent-info{
            h3 {
                font-size: 28px;
            }
            p {
                margin-top: 12px;
                font-size: 18px;
                letter-spacing: 0px;
            }
        }
    }
    // agent details end
    // happy customer start
    .testimonial{
        .happy-customer{
            h3 {
                font-size: 30px;
                margin-bottom: 10px;
            }
            p {
                letter-spacing: 0px;
                font-size: 16px;
            }
        }
        .testimonial_box-text{
            h3 {
                font-size: 16px;
                margin-bottom: 6px;
            }
        }
    }
    .slick-prev {
        left: 0px;
    }
    .slick-next{
        right: 0px;
    }
    // happy customer end
    // contact form start
    .contact {
        .contact-info {
            h3 {
                font-size: 28px;
            }
            p {
                letter-spacing: 0px;
                margin-top: 10px;
                font-size: 16px;
            }
        } 
    }
    // contact form end
    // footer start
    .footer{
        .footer-bottom {
            .copywrites-1 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                ul{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    li{
                        width: 18%;
                    }
                }
            }
        }
    }
    // footer end
}
@media(min-width: 576px) and (max-width: 767px){

}
@media(min-width: 768px) and (max-width: 991px){
    //header start
    .header-section{
        background-attachment: fixed;
        nav{
            .container-fluid{
                .navbar-brand {
                    width: 50%;
                }
            }
        }
        .top-gap {
            margin-top: 50px;
            padding-bottom: 350px;
            .container{
                .row{
                    .col-12.col-lg-6 {
                        .sell {
                            text-align: center;
                            h1 {
                                font-size: 40px;
                                text-align: center;
                            }
                            p {
                                margin-top: 15px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
    // header end
    // happy customer start 
    .testimonial{
        .happy-customer {
            p {
                letter-spacing: 0px;
            }
        }
        .testimonial_box-text{
            h3 {
                font-size: 16px;
            }
        }
    }
    // happy customer end
    // footer start
    .footer{
        .footer-bottom {
            .copywrites-1 {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                ul{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    // footer end
}
@media(min-width: 992px) and (max-width: 1199px){
    //header start
    .header-section{
        .top-gap{
            .container{
                .row {
                    .col-12.col-lg-6{
                        .sell {
                            .btn-view {
                                margin-top: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    //header end
    // agent details start
    .agent-details{
        .card {
            .agent-viedo{
                a {
                    bottom: 120px;
                }
            }
        }
    }
    // agent details end
    // happy customer start
    .testimonial{
        .happy-customer{
            p {
                letter-spacing: 0px;
                font-size: 16px;
            }
        }
        .testimonial_box-top{
            padding: 18px;
            .testimonial_box-text{
                h3 {
                    font-size: 16px;
                }
            }
        }
        .testimonial_box-name{
            h4 {
                font-size: 16px;
            }
        }
    }
    // happy customer end
}
@media(min-width: 1200px) and (max-width: 1400px){

}
@media(min-width: 1401px){
    // header start
    .header-section{
        .top-gap {
            .container{
                .row {
                    .col-12.col-lg-6{
                        .sell{
                            h1 {
                                font-size: 70px;
                            }
                        }
                    }
                }
            }
        }
    }
    // header end
}