@import "color";
@import "extend";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a, a:active, a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
ul{
    margin-bottom: 0px;
    padding-left: 0px;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0px;
    padding: 0px;
    font-weight: 400;
}
@font-face{
    font-family: poppins;
    src: url(../fonts/Poppins.ttf)
}
body{
    font-family: poppins;
    font-size: 16px;
}
// header start
.changeColor{
    background-color: $bg-black;
}
.header-section{
    background-image: url(../images/parallax.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    nav{
        padding: 30px 30px;
        // position: fixed;
        // top: 0px;
        // left: 0px;
        // right: 0px;
        .container-fluid{
            .navbar-brand{
                width: 12%;
            }
            #navbarTogglerDemo03{
                ul{
                    &:first-child{
                        li{
                            padding: 0px 6px;
                            a{
                                color: $text-white;
                                padding: 0px 5px;
                                &:hover{
                                    color: $text-white-hover;
                                    @extend %transition;
                                }
                            }
                            &:nth-child(2){
                                sup{
                                    color: $text-blue;
                                    font-size: 26px;
                                    top: 0px;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                    &:last-child{
                        margin-left: auto;
                        li{
                            a{
                                line-height: 33px;
                                font-size: 16px;
                                height: 33px;
                                width: 33px;
                                color: $text-white;
                                border: 1px solid $text-white;
                                border-radius: 100%;
                                background-color: transparent;
                                display: inline-block;
                                text-align: center;
                                &:hover{
                                    color: $text-white-hover;
                                    border-color: $text-white-hover;
                                    @extend %transition;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .top-gap{
        margin-top: 170px;
        .container{
            .row{
                .col-12.col-lg-6{
                    .sell{
                        h1{
                            font-size: 56px;
                            color: $text-white;
                            font-weight: bolder;
                        }
                        p{
                            color: $text-white;
                            letter-spacing: 2px;
                            margin-top: 30px;
                        }
                        .btn-view{
                            background: $gradiant-right-color;
                            color: $text-white;
                            padding: 13px 40px;
                            border: none;
                            border-radius: 30px;
                            font-size: 18px;
                            @extend %transition;
                            margin-top: 60px;
                            &:hover{
                                background: $gradiant-left-color;
                            }
                        }
                    }
                }
                .col-12.col-lg-6{
                    .contact-form{
                        background-color: $text-white;
                        padding: 30px 40px;
                        box-shadow: 0px 0px 0px 0px rgb(196, 196, 196);
                        h3{
                            text-transform: uppercase;
                            font-size: 20px;
                            margin-bottom: 24px;
                            span{
                                color: $text-white;
                                background: $gradiant-right-color;
                                border: none;
                                border-radius: 100%;
                                width: 50px;
                                height: 50px;
                                text-align: center;
                                display: inline-block;
                                line-height: 50px;
                                margin-right: 10px;
                            }
                        }
                        form{
                            .first-name{
                                margin: 10px 0px;
                                color: $form-color;
                                border: 1px solid $border-color;
                                &:focus{
                                    box-shadow: 0px 0px 0px 0px;
                                }
                                &::placeholder{
                                    color: $form-color;
                                }
                            }
                            .btn-form-head{
                                width: 100%;
                                border: none;
                                border-radius: 20px;
                                background: $gradiant-right-color;
                                color: $text-white;
                                padding: 12px 0px;
                                margin-top: 14px;
                                @extend %transition;
                                &:hover{
                                    background: $gradiant-left-color;

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// header end
// property details start
.property-details{
    padding: 80px 0px;
    .container{
        .row{
            .detail{
                margin-bottom: 60px;
                ul{
                    li{
                        text-align: center;
                        &:nth-child(1){
                            color: $text-blue;
                            font-weight: 500;
                            font-size: 18px;
                        }
                        &:nth-child(2){
                            font-size: 50px;
                            font-weight: 300;
                            margin-bottom: 25px;
                        }
                        &:nth-child(3){
                            color: #999;
                            line-height: 33px;
                            font-size: 18px;
                        }
                    }
                }
            }
            .property-box{
                text-align: center;
                span{
                    color: $text-blue;
                    text-align: center;
                    border: 1px solid $text-blue;
                    width: 110px;
                    height: 110px;
                    line-height: 110px;
                    display: inline-block;
                    font-size: 30px;
                    @extend %transition;
                    position: relative;
                    &:hover::before{
                        top: -10px;
                        left: -10px;
                        width: 120%;
                        height: 120%;
                        @extend %transition;
                        opacity: 1;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        top: -20px;
                        left: -20px;
                        width: 140%;
                        height: 140%;
                        background-color: transparent;
                        border: 1px solid $text-blue;
                        opacity: 0;
                    }
                }
                ul{
                    margin-top: 20px;
                    li{
                        font-size: 18px;
                    }
                }
            }
            .show-property{
                .zoom-property{
                    &:hover{
                        a{
                            opacity: 1;
                        }
                    }
                    img{
                        width: 100%;
                        border-radius: 12px;
                    }
                    a{
                        position: absolute;
                        top: 50%;
                        left: 0px;
                        right: 0px;
                        display: inline-block;
                        color: #1f1f1f;
                        background: rgba(255, 255, 255, 0.8);
                        margin: -20px auto;
                        width: 50px;
                        height: 50px;
                        text-align: center;
                        line-height: 50px;
                        border: none;
                        border-radius: 100%;
                        opacity: 0;
                        @extend %transition;
                    }
                }
                ul{
                    text-align: center;
                    margin-top: 30px;
                    li{
                        &:nth-child(1){
                            font-size: 22px;
                            color: $bg-black;
                        }
                        &:nth-child(2){
                            margin-top: 10px;
                            font-size: 15px;
                            color: $form-color;
                        }
                    }
                }
            }
        }
    }
}
//property details end
// agent details start
.agent-details{
    position: relative;
    background-color: $bg-black;
    padding: 70px 0px;
    &::before{
        content: "";
        position: absolute;
        top: -20px;
        left: 0px;
        right: 0px;
        margin: auto;
        width: 100px;
        height: 100px;
        background-color: $bg-black;
        transform: rotate(45deg);
        z-index: -1;
    }
    &::after{
        content: "";
        position: absolute;
        bottom: -20px;
        left: 0px;
        right: 0px;
        margin: auto;
        width: 100px;
        height: 100px;
        background-color: $bg-black;
        transform: rotate(45deg);
        z-index: -1;
    }
    .agent-info{
        margin-bottom: 45px;
        h3{
            color: $text-white;
            font-size: 34px;
        }
        p{
            color: $form-color;
            margin-top: 20px;
            font-size: 20px;
            letter-spacing: 2px;
        }
    }
    .card{
        background-color: transparent;
        border: none;
        .agent-viedo{
            position: relative;
            a{
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                color: $text-white;
                width: 20px;
                height: 20px;
                margin: auto;
                font-size: 32px;
            }
        }
        .card-body{
            h5{
                color: $form-color;
            }
            h3{
                color: $text-white;
                font-size: 34px;
            }
            p{
                color: $form-color;
                i{
                    margin-bottom: 24px;
                    display: inline-block;
                }
            }
            button{
                color: $text-white;
                background: $gradiant-right-color;
                padding: 15px 40px;
                border: none;
                border-radius: 30px;
                font-size: 18px;
                margin-top: 20px;
                @extend %transition;
                &:hover{
                    color: $text-white;
                    background: $gradiant-left-color;
                }
            }
        }
    }
    .agent-contact{
        li{
            padding: 7px 0px 7px 40px;
            position: relative;
            color: $form-color;
            a{
                color: inherit;
            }
            &::before{
                position: absolute;
                left: 0px;
                top: 3px;
                width: 30px;
                height: 30px;
                line-height: 30px;
                font-size: 16px;
                background-color: $bg-link;
                font-family: "Font Awesome 5 Free"; 
                font-weight: 900; 
                border: none;
                border-radius: 100%;
                text-align: center;
            }
            &:nth-child(1){
                &::before{
                    content: "\f0e0";
                }
            }
            &:nth-child(2){
                &::before{
                    content: "\f0c1";
                }
            }
            &:nth-child(3){
                &::before{
                    content: "\f87b";
                }
            }
            &:nth-child(4){
                &::before{
                    content: "\f02f";
                }
            }
            &:nth-child(5){
                &::before{
                    content: "\f082";
                    font-family: "Font Awesome 5 Brands";
                }
            }
            &:nth-child(6){
                &::before{
                    content: "\f081";
                    font-family: "Font Awesome 5 Brands";
                }
            }
            &:nth-child(7){
                &::before{
                    content: "\f08c";
                    font-family: "Font Awesome 5 Brands";
                }
            }
        }
    }
}
// agent details end
// property gallery start
.gallery{
    padding: 120px 0px;
    .gallery-details{
        text-align: center;
        margin-bottom: 50px;
        h3{
            font-weight: 400;
        }
        p{
            color: $form-color;
            letter-spacing: 1px;
            margin-top: 30px;
        }
    }
    .gallery-img{
        position: relative;
        &:hover{
            div{
                opacity: 1;
            }
        }
        div{
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            width: 100%;
            height: 100%;
            margin: auto;
            background-color: rgba(0, 0, 0, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            @extend %transition;
            opacity: 0;
            .fas.fa-link{
                color: $text-white;
                background-color: #000;
                display: inline-block;
                text-align: center;
                width: 40px;
                height: 40px;
                line-height: 40px;
                margin: auto;
                border: none;
                border-radius: 100%;
            }
        }
    }
}
// property gallery end
// happy customer start
.testimonial{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $border-color;
    padding: 100px 0px;
    .happy-customer{
        text-align: center;
        h3{
            font-size: 40px;
            margin-bottom: 20px;
        }
        p{
            letter-spacing: 2px;
            font-size: 18px;
        }
    }
    .testimonial__inner{
        margin-top: 20px;
    }
    &-slide{
        padding:20px;
    }
    &_box{   

        &-top{
            background-color: $text-white;
            padding: 35px;
            border-radius: 0px;
            display: flex;
            position: relative;
            box-shadow: 5px 5px 20px rgba(229, 229, 229, 0.301);
        }
        &-icon{
            margin-top: -12px;
            padding-right: 20px;
            i{
                font-size: 25px;
                color: #14213d;
            }
        }
        &-text{
            h3{
                font-size: 20px;
                margin-bottom: 10px;
            }
            p{
                color: #707070;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 0;
            }
        }
        &-shape{
            position: absolute;
            bottom: -10px;
            left: 50px;
            width: 20px;
            height: 20px;
            background-color: #e5e5e5;
            -webkit-transform: rotateZ(50deg);
            transform: rotateZ(45deg);
        }

        &-bottom{
            padding-top: 35px;
            padding-left: 25px;
        }
        &-profile{
            display: flex;
        }
        &-img{
            display: flex;
            justify-content: center;
            img{
                width: 70px;
                height: 70px;
                border-radius: 50px;
                border: 2px solid #e5e5e5;
            }
        }
        &-info{
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-left: 20px;
        }
        &-name{
            h4{
                font-size: 20px;
                line-height: 25px;
                color: $bg-black;
                margin-bottom: 0;
            }
        }
        &-job{
            p{
                color: $bg-black;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 3px;
                line-height: 20px;
                font-weight: 300;
                margin-bottom: 0;
            }
        }
    }
}
  .slick-dots li button:before{
    font-size: 15px;
    color: $text-blue;
  }
// happpy customer end
// location start
.location{
    iframe{
        width: 100%;
        height: 50vh;
    }
}
// location end
// contact form start
.contact{
    padding: 70px 0px;
    .contact-info{
        text-align: center;
        margin-bottom: 60px;
        h3{
            font-size: 40px;
            sup{
                color: $text-blue;
            }
        }
        p{
            letter-spacing: 2px;
            margin-top: 14px;
            font-size: 17px;
            color: $form-color;
        }
    }
    .form{
        background-color: $border-color;
        padding: 35px 25px;
        border: none;
        border-radius: 8px;
        box-shadow: 0px 0px 16px 1px $form-color;
        .last-name{
            margin: 10px 0px;
            color: $form-color;
            border: 1px solid $border-color;
            &:focus{
                box-shadow: 0px 0px 0px 0px;
            }
            &::placeholder{
                color: $form-color;
            }
        }
        .btn-form-bottom{
            background: $gradiant-right-color;
            width: 100%;
            padding: 10px 0px;
            font-size: 18px;
            border: none;
            border-radius: 20px;
            margin-top: 20px;
            color: $text-white;
            @extend %transition;
            &:hover{
                background: $gradiant-left-color;
            }
        }
    }
}
// contact form end 
// footer start
.footer{
    background-color: $bg-black;
    padding: 30px 0px;
    .footer-top{
        padding: 50px 0px;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
        .footer-part-1{
            color: $text-light-black;
            img{
                width: 50%;
                margin-bottom: 32px;
            }
            p{
                margin: 25px 0px;
            }
        }
        .footer-part-2{
            color: $text-light-black;
            h3{
                color: $border-color;
                margin-bottom: 20px;
            }
            ul{
                li{
                    position: relative;
                    padding: 10px 0px;
                    &:not(:last-child)::before{
                        content: '';
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        width: 100%;
                        height: 1px;
                        background-color: transparent;
                        border-bottom: 1px dashed $text-light-black;
                    }
                    a{
                        color: $text-light-black;
                        &:hover{
                            color: $border-color;
                        }
                    }
                }
            }
        }
        .footer-part-3{
            color: $text-light-black;
            h3{
                color: $border-color;
                margin-bottom: 20px;
            }
            ul{
                li{
                    padding: 5px 0px;
                    position: relative;
                    &::before{
                        font-family: "Font Awesome 5 Brands"; 
                        font-weight: 900; 
                        content: "\f099";
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        color: $text-light-black;
                        background-color: transparent;
                        height: 100%;
                    }
                    a{
                        color: inherit;
                        text-indent: 40px;
                        display: block;
                        line-height: 23px;
                        &:hover{
                            color: $border-color;
                        }
                    }
                }
            }
        }
        .footer-part-4{
            color: $text-light-black;
            h3{
                color: $border-color;
                margin-bottom: 20px; 
            }
            ul{
                li{
                    padding: 4px 0px;
                    &:not(:last-child){
                        border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
                        margin-bottom: 10px;
                    }
                    a{
                        color: inherit;
                        &:hover{
                            color: $border-color;
                        }
                        i{
                            margin-right: 10px;
                            border-right: 1px dashed rgba(255, 255, 255, 0.1);
                            width: 25px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
    .footer-bottom{
        padding-top: 30px;
        .copywrites-1{
            color: $text-light-black;
            ul{
                li{
                    &:not(:last-child){
                        padding-right: 10px;
                        @extend %transition;
                    }
                    a{
                        color: $text-light-black;
                        text-transform: uppercase;
                        &:hover{
                            color: $border-color;
                        }
                    }
                }
            }
            p{
                color: inherit;
                font-size: 14px;
                line-height: 30px;
                a{
                    color: inherit;
                    &:hover{
                        color: rgb(255, 51, 51);
                    }
                }
            }
        }
        .copywrites-2{
            position: relative;
            input{
                background-color: transparent;
                color: $form-color;
                padding-right: 40px;
                &:focus{
                    border-color: inherit;
                    box-shadow: 0px 0px 0px 0px;
                }
            }
            i{
                position: absolute;
                right: 13px;
                top: 15px;
                color: $form-color;
            }
        }
    }
}
// footer end







@import "media";